# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/node_modules/
/log/
/combined.log
/error.log
/lecture/express3/learn-express/node_modules/
